body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    
}

.poster {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: white;
    margin-top: 100px;
}